@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: "Space Mono", monospace;
  src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
.navbar__logo {
  transition: 0.5s linear;
}
.navbar__logo:hover {
  transform: scale(1.1);
}
.navbar__logo:active {
  transform: scale(0.9);
}
.navbar__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-basis: 55%;
}
.navbar__menu-link {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #939caa;
  transition: 0.5s linear;
}
.navbar__menu-link:hover {
  color: #fcb72b;
}
.navbar__btn {
  background-color: #fcb72b;
  width: 180px;
  height: 53px;
  padding: 14px 39px;
  border-radius: 4px;
  border: 3px solid transparent;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  transition: 0.5s linear;
}
.navbar__btn:hover {
  background-color: transparent;
  color: #fcb72b;
  border: 3px solid #fcb72b;
  transform: scale(1.05);
}
.navbar__btn:active {
  transform: scale(0.9);
}
.navbar__checkbox {
  display: none;
}
.navbar__checkbox:checked ~ .navbar__menu, .navbar__checkbox:checked ~ .navbar__btn {
  transform: translateX(0);
  visibility: visible;
}
.navbar__checkbox:checked ~ .navbar__open {
  display: none;
}
.navbar__checkbox:checked ~ .navbar__close {
  display: block;
}
.navbar__open, .navbar__close {
  font-size: 20px;
  display: none;
}

@media (max-width: 992px) {
  .navbar {
    position: relative;
  }
}
@media (max-width: 768px) {
  .navbar__menu {
    flex-basis: 0%;
  }
}
@media (max-width: 576px) {
  .navbar__logo {
    margin: 0 auto;
  }
  .navbar__open {
    display: block;
  }
  .navbar__menu {
    width: 256px;
    height: 80vh;
    padding: 64px 32px;
    background-color: #333a44;
    position: fixed;
    z-index: 4;
    top: 10%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    transition: 0.5s linear;
    transform: translateX(-120%);
    visibility: hidden;
  }
  .navbar__menu-link {
    font-size: 18px;
    color: #e5ecf4;
  }
  .navbar__menu-link:hover {
    color: #fcb72b;
  }
  .navbar__btn {
    position: fixed;
    bottom: 15%;
    left: 32px;
    z-index: 4;
    transition: 0.5s linear;
    transform: translateX(-190%);
    visibility: hidden;
  }
}
.hero {
  padding: 152px 165px;
  background-image: url(../assets/images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero__content {
  max-width: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__content-title {
  font-size: 56px;
  line-height: 56px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  letter-spacing: 2.5px;
}
.hero__content-subtitle {
  max-width: 405px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #939caa;
  color: #fff;
  margin: 40px 0 40px 150px;
  position: relative;
  z-index: 2;
}
.hero__content-btn {
  background-color: #fcb72b;
  width: 180px;
  height: 53px;
  padding: 14px 39px;
  border-radius: 4px;
  border: 3px solid transparent;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  transition: 0.5s linear;
  margin-left: 150px;
}
.hero__content-btn:hover {
  background-color: transparent;
  color: #fcb72b;
  border: 3px solid #fcb72b;
  transform: scale(1.05);
}
.hero__content-btn:active {
  transform: scale(0.9);
}
.hero__line {
  position: absolute;
  left: 0.5px;
  bottom: 292px;
}
.hero__arrowLine {
  position: absolute;
  right: 288px;
  bottom: 157px;
  z-index: 1;
}

@media (max-width: 992px) {
  .hero {
    padding: 145px 105px;
    background-position: right center;
  }
  .hero__content {
    text-align: center;
  }
  .hero__content-title {
    letter-spacing: normal;
  }
  .hero__content-subtitle {
    margin: 40px 0;
  }
  .hero__content-btn {
    margin: 0 auto;
  }
  .hero__line {
    display: none;
  }
  .hero__arrowLine {
    bottom: 0;
    left: -127px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 137px 97px 217px 97px;
  }
  .hero__content {
    max-width: 573px;
    text-align: center;
  }
  .hero__content-title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 115px 32px;
  }
  .hero__content {
    max-width: 311px;
    text-align: center;
  }
  .hero__content-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1.79px;
  }
  .hero__content-subtitle {
    margin: 24px 0 34px 0;
  }
  .hero__arrowLine {
    bottom: 24px;
    left: -202px;
  }
  .hero__arrowLine img {
    max-width: 300px;
  }
}
.instructions {
  padding: 160px 0 200px 0;
  position: relative;
}
.instructions__greyLine {
  position: absolute;
  width: 1060px;
  border: 15px solid #e5ecf4;
  z-index: 1;
  left: 0;
  top: 30%;
}
.instructions__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions__content-card {
  max-width: 350px;
}
.instructions__content-card-context-title {
  font-size: 24px;
  line-height: 28px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  margin: 40px 0 27px 0;
  color: #495567;
}
.instructions__content-card-context-subtitle {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #939caa;
  max-width: 330px;
}

@media (max-width: 992px) {
  .instructions {
    padding: 140px 0 180px 0;
  }
  .instructions__greyLine {
    width: 600px;
    top: 18%;
  }
  .instructions__content {
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .instructions {
    padding: 122px 0 145px 0;
  }
  .instructions__greyLine {
    width: 0;
    height: 712px;
    top: 0;
    left: 180px;
  }
  .instructions__content {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: nowrap;
  }
  .instructions__content-card {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .instructions__content-card-context {
    max-width: 400px;
  }
  .instructions__content-card-context-subtitle {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .instructions {
    padding: 120px 32px;
  }
  .instructions__greyLine {
    display: none;
  }
  .instructions__content {
    max-width: 311px;
  }
  .instructions__content-card {
    flex-direction: column;
  }
  .instructions__content-card img {
    max-width: 86px;
  }
  .instructions__content-card-context {
    text-align: center;
  }
  .instructions__content-card-context-title {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0;
  }
}
.about {
  position: relative;
}
.about__content {
  margin-top: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__content-image {
  position: relative;
}
.about__content-image-arrow-first, .about__content-image-arrow-second, .about__content-image-arrow-third {
  position: absolute;
}
.about__content-image-arrow-first {
  right: -220px;
  bottom: 0;
  z-index: 2;
}
.about__content-image-arrow-second {
  top: 0;
  left: -200px;
}
.about__content-image-arrow-third {
  top: 15%;
  right: -200px;
}
.about__content-image-main {
  border-radius: 50%;
}
.about__content-image-mask {
  position: absolute;
  right: -200px;
}
.about__content-image-mask--reverse {
  left: -200px;
}
.about__content-text {
  max-width: 445px;
}
.about__content-text-title {
  font-size: 48px;
  line-height: 48px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #495567;
}
.about__content-text-subtitle {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: #939caa;
  margin: 24px 0 40px 0;
}
.about__content-text-btn {
  background-color: #fcb72b;
  width: 180px;
  height: 53px;
  padding: 14px 39px;
  border-radius: 4px;
  border: 3px solid transparent;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  transition: 0.5s linear;
}
.about__content-text-btn:hover {
  background-color: transparent;
  color: #fcb72b;
  border: 3px solid #fcb72b;
  transform: scale(1.05);
}
.about__content-text-btn:active {
  transform: scale(0.9);
}

@media (max-width: 992px) {
  .about__content {
    flex-direction: column-reverse;
    row-gap: 64px;
    justify-content: center;
    text-align: center;
  }
  .about__content--reverse {
    flex-direction: column;
  }
  .about__content-image-mask {
    right: -240px;
  }
  .about__content-image-mask--reverse {
    left: -240px;
  }
  .about__content-image-arrow-third {
    right: -250px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 92px 0 104px 0;
  }
  .about__content-text-title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 2.14px;
  }
  .about__content-text-subtitle {
    margin: 40px 0;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 0 32px;
  }
  .about__content-text-title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.43px;
  }
  .about__content-text-subtitle {
    margin: 32px 0;
  }
  .about__content-image-mask {
    display: none;
  }
  .about__content-image-main {
    max-width: 311px;
  }
  .about__content-image-arrow-first {
    left: -30px;
  }
  .about__content-image-arrow-second {
    left: -140px;
  }
}
.download {
  margin-top: 200px;
  padding: 102px 0;
  background-color: #495567;
}
.download__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.download__content-mask {
  position: absolute;
  bottom: -110px;
  right: -240px;
}
.download__content-text {
  max-width: 435px;
  font-size: 48px;
  line-height: 48px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2.14px;
}
.download__content-source {
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.download__content-source-btn {
  border-radius: 8px;
  background-color: #e5ecf4;
  padding: 8px 15px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  cursor: pointer;
  transition: 0.5s linear;
}
.download__content-source-btn:hover {
  transform: scale(1.1);
}
.download__content-source-btn:active {
  transform: scale(0.9);
}
.download__content-source-btn i {
  font-size: 25px;
  color: #485567;
}
.download__content-source-btn p {
  font-size: 10px;
  line-height: 14.81px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #495567;
  letter-spacing: 0.45px;
}
.download__content-source-btn h5 {
  font-size: 20px;
  line-height: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #495567;
}

@media (max-width: 992px) {
  .download {
    margin: 104px 0 0 0;
    padding: 62px 0;
  }
  .download__content {
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    text-align: center;
  }
  .download__content-mask {
    left: -400px;
  }
}
@media (max-width: 576px) {
  .download {
    margin: 120px 0 0 0;
    padding: 88px 32px;
  }
  .download__content-text {
    max-width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.43px;
  }
  .download__content-mask {
    left: -140px;
  }
  .download__content-mask img {
    max-width: 740px;
  }
  .download__content-source {
    flex-direction: column;
    row-gap: 25px;
  }
}/*# sourceMappingURL=style.css.map */